html {
    font-family: 'Open Sans';
}

body {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/135/692/935/sci-fi-astronaut-jellyfish-space-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

h1 {
    color: #fff;
    text-align: center;

}

.cdd {
    padding: 10px;
    width: 500px;
    height: 310px;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    box-shadow: rgba(105, 180, 255, 0.2) 0px 8px 24px;
    transition: 1s;
}

.button {
    background-color: rgb(18, 177, 140);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
    margin-top: 40px;
    cursor: pointer;

}

.button:hover {
    box-shadow: rgb(18, 177, 140, 0.2) 0px 16px 48px;
}

.button:active {
    transform: scale(0.90);
}


input {
    font-size: 1rem;
    opacity: 0.5;
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.cdd:hover {
    box-shadow: rgba(105, 180, 255, 0.2) 0px 16px 48px
}

p {
    text-align: center;
}

input:focus {
    outline: none;
}

a {
    color: rgb(18, 177, 140);
    text-align: center;
}